<configuration scan="false" scanPeriod="30 seconds">

  <!--  File log  -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${JEYZER_RECORDER_LOG_FILE}</file>
    <encoder>
      <pattern>%d{MM/dd/yyyy HH:mm:ss} %level %msg%n</pattern>
    </encoder>
  </appender>

  <root level="debug">
    <appender-ref ref="FILE" />
  </root>

  <!--  Console log -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
       <pattern>%d{MM/dd/yyyy HH:mm:ss} %level %msg%n</pattern>
    </encoder>
  </appender>
  
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  
  <!-- Log categories : DEBUG, INFO, WARN, ERROR, ALL, OFF -->  
  <logger name="org.jeyzer.recorder" level="INFO" />
  
</configuration>


